# Build
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.suo
*.user
*.[Cc]ache
*.[Cc]overage

# Cake
**/unit-test-results.xml
**/integration-test-results.xml
**/tools/
**/build/tools/
!build/tools/packages.config