# Build
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.suo
*.user
*.[Cc]ache
*.[Cc]overage

# Cake
**/results.xml
/build/Cake/Addins
/build/Cake/Modules
/build/Cake/Tools/**
!build/Cake/Tools/packages.config

